@font-face 
{
    font-family: 'LetterForLearners';
    src: url('/src/Letters\ for\ Learners.ttf') format('truetype');
}

*
{
    margin: 0;
    padding: 0;
    font-family: 'LetterForLearners';
}

body
{
    background-color: burlywood;
    height: 100vh;   
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.title
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.title>h3
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 800px;
    font-size: 50px;
    border: 3px solid whitesmoke;
    border-radius: 20px;
}

.todolist_body
{
    height: 100px;
    width: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input
{
    appearance: none;
    -webkit-appearance: none;
    height: 50px;
    width: 630px;
    font-size: 50px;
    margin-right: 30px;
    padding: 10px;
    background-color: transparent;
    color: black;
    border: none;
    border-bottom: 3px solid whitesmoke;
}

#input:focus 
{
    outline:none !important;
}

#button
{
    color: black;
    font-size: 20px;
    height: 60px;
    width: 100px;
    background-color: transparent;
    border: 3px solid whitesmoke;
    border-radius: 10px;
}

#button:hover
{
    color: burlywood;
    background-color: antiquewhite;
    transition: all 0.3s;
}

.todo_list
{
    display: flex;
    justify-content: center;
    align-items: center;
}

li
{
    width: 100vh;
    padding: 10px;
    margin-bottom: 15px;
    color: black;
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid whitesmoke;
    border-radius: 15px;
}

input[type="checkbox"]
{
    appearance: none;
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]:hover
{
    background-color: antiquewhite;
    transition: all 0.3s;
}

input[type="checkbox"]:after
{
    content: '\2714';
    font-size: 30px;
    color: black;
    display: none;
}

input[type="checkbox"]:checked
{
    background-color: antiquewhite;
}

input[type="checkbox"]:checked:after
{
    display: block;
}

.btn_x
{
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: black;
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_x:hover
{
    color: burlywood;
    background-color: antiquewhite;
    transition: all 0.3s;
}

.span
{
    display: flex;
    justify-content: center;
    align-items: center;
}
